# Telegram
BOT_TOKEN='8663488589:AAEjZvfTLxNo4U7I0lu8KECnBskm8Y8YStI'
WEBHOOK_URL=
CHANNEL_ID=
ADMIN_TELEGRAM_IDS=     # comma-separated list of admin IDs
MINI_APP_URL=

# Supabase
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# App
NODE_ENV=production
JWT_SECRET=
